extends layout

block content

  h1 Author: #{author.name}
  p #{author.date_of_birth} - #{(author.date_of_death===null ? 'present' : author.date_of_death)}

  div(style='margin-top:20px; margin-left:20px')

  h4 Books

    dl
      each book in author_book
        dt
          a(href=book.url) #{book.title}
        dd #{book.summary}
      else
        p the author has no books

  hr
  p
    a(href= author.url + '/delete') Delete author
